@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

html, body { overflow-x: hidden; }

body {
	background-color: #F2F2F2;
	color: white;
	font-family: "Lato";
}

/*** BAR ****/
.bar {
	color: black;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
}

/**** LOGO ****/
.title {
	font-size: 2.7em;
}

/**** MAIN CONTAINER *****/
.main-container {
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
/*	background-color: grey;
*/	background-image: url("hero-4.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}

.date {
	font-size: 1.2em;
	margin-left: -15px;
}

.motto {
	font-size: 3.1em;
}

.email-padding {
	padding-bottom: 12px;
}

/******  SECOND CONTAINER *******/
.second-container {
	background-color: #ff1925;
	padding: 25px 20%;
	font-size: 1.1em;
	border-bottom: 1px solid white;
	height: 220px;
	background-image: url("hero-opacity-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

/* HOVER EFFECT */
.second-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: .3;
    background: rgba(0,0,0,.5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.second-container:hover:after {
    opacity: 1;
}

.second-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

.feature-title {
	font-size: 1.5em;
}

/******  THIRD CONTAINER *******/
.third-container {
	background-color: #ff1925;
	padding: 25px 20%;
	font-size: 1.1em;
	border-bottom: 1px solid white;
	height: 220px;
	background-image: url("hero-opacity-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.third-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.third-container:hover:after {
    opacity: 1;
}

.third-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

.feature-title {
	font-size: 1.5em;
}

/****** FOURTH CONTAINER *******/
.fourth-container {
	background-color: #ff1925;
	padding: 25px 20%;
	font-size: 1.1em;
	width: 100%;
	border-bottom: 1px solid white;
	background-image: url("hero-opacity-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.fourth-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.fourth-container:hover:after {
    opacity: 1;
}

.fourth-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

.feature-title {
	font-size: 1.5em;
}

/****** FIFTH CONTAINER *******/
.fifth-container {
	background-color: #ff1925;
	padding: 25px 20%;
	font-size: 1.1em;
	width: 100%;
	border-bottom: 1px solid white;
	background-image: url("hero-opacity-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.fifth-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.fifth-container:hover:after {
    opacity: 1;
}

.fifth-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

.feature-title {
	font-size: 1.5em;
}

/****** FOOTER *******/
.footer {
	background-color: #2a2a2a;
	padding-top: 140px;
	padding-left: 15px;
	height: 200px;
	font-size: 1.5em;
}

/***** CENTRE & SPACER *****/
.center {
	text-align: center;
}

.spacer-40 {
	height: 40px;
}

.spacer-20 {
	height: 20px;
}

.spacer-10 {
	height: 10px;
}


/***** SIGNUP FORM *****/
#mc-embedded-subscribe-form {
	background-color: rgba(0,0,0,0);
}

@media (max-width: 600px) {
	.spacer-10 {
		height:0px;
	}

}

/***** MEDIA QUERIES ******/
@media (min-width: 600px) {
	.title {
		color: red;
	}
}