@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
@font-face {
	font-family: adequateextralight;
	src: url(adequate.extra-light.ttf);
}

@font-face {
	font-family: unisans;
	src: url(UniSansThin.otf);
}

html, body { overflow-x: hidden; }

body {
	background-color: white;

/*	background-color: #F2F2F2;
*/	color: white;
	font-family: "Lato";
}

/*** BAR ****/
.bar {
	color: black;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 22px;
	padding-bottom: 8px;
}

/**** LOGO ****/
.title {
	font-size: 2.7em;
}


/*** WHAT TO EXPECT ****/
.expect {
	color: black;
	font-family: 'adequateextralight';
	font-weight: bold;
}
/**** MAIN CONTAINER *****/
.main-container {
	padding-top: 8px;
	padding-bottom: 8px;
	color: black;
	background-image: url("hero-red-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}

.main-logo {
	margin-left: 20px;
}

.date {
	font-size: 1.2em;
}

.motto {
	font-size: 3.5em;
	font-weight: normal;
	font-family: 'adequateextralight';
}

.email-padding {
	padding-bottom: 12px;
	font-weight:200;
	font-family: 'adequateextralight';
	font-size: 1.6em;
}

/******  SECOND CONTAINER *******/
.second-container {
	padding: 25px 20%;
	font-size: 1.1em;
	border-bottom: 1px solid white;
	background-image: url("theater-3.png");
	background-repeat: no-repeat;
	background-size: 180px 150px;
	position: relative;
	background-color: #1C348C;
}

/* HOVER EFFECT */
.second-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
	background-color: rgba(255,35,37,1);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.second-container:hover:after {
    opacity: 1;
}

.second-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

.feature-title {
	font-size: 2em;
}

/******  THIRD CONTAINER *******/
.third-container {
	background-color: #ff1925;
	padding: 25px 20%;
	font-size: 1.1em;
	border-bottom: 1px solid white;
	background-image: url("balance.svg");
	background-size: 180px 150px;
	background-repeat: no-repeat;
	position: relative;
}

.third-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
	background-color: rgba(255,35,37,1);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.third-container:hover:after {
    opacity: 1;
}

.third-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

/****** FOURTH CONTAINER *******/
.fourth-container {
	background-color: #ff1925;
	padding: 25px 20%;
	font-size: 1.1em;
	width: 100%;
	border-bottom: 1px solid white;
	background-image: url("debate.svg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.fourth-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
	background-color: rgba(255,35,37,1);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.fourth-container:hover:after {
    opacity: 1;
}

.fourth-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

/****** FIFTH CONTAINER *******/
.fifth-container {
	background-color: #1C348C;
	padding: 25px 20%;
	font-size: 1.1em;
	width: 100%;
	border-bottom: 1px solid white;
	background-image: url("");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

}

.fifth-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
	background-color: rgba(255,35,37,1);
}

.fifth-container:hover:after {
    opacity: 1;
}

.fifth-container p {
    color: #fff;
    z-index: 1;
    position: relative;
}

/****** FOOTER *******/
.footer {
	background-color: #2a2a2a;
/*	padding-top: 140px;
*//*	padding-left: 15px;
*/	height: 200px;
	font-size: 1em;
}

/***** CENTRE & SPACER *****/
.center {
	text-align: center;
}

.spacer-60 {
	height: 60px;
}

.spacer-40 {
	height: 40px;
}

.spacer-20 {
	height: 20px;
}

.spacer-10 {
	height: 10px;
}


/***** SIGNUP FORM *****/
#mc-embedded-subscribe-form {
	background-color: rgba(0,0,0,0);
}

@media (max-width: 600px) {
	.spacer-10 {
		height:0px;
	}

	.spacer-40.bottom {
		height: 0;
	}

	.main-container {
		background-image: url("hero-red-mobile-2.png") !important;
		color: white;
	}

	.image1 {
		display: none;
	}

	.image2 {
		display: block;
	}
}

/***** MEDIA QUERIES ******/
@media (min-width: 600px) {
	.title {
		color: red;
	}

	.center-block {
		display: inline-block;
		margin-left: 30px;
	}

	.center.date {
		margin-left: 30px;
		text-align: left;
	}

	.image2 {
		display: none;
	}

}